header {
  text-align:center;
  background-size: cover;
  color:black;
  background-color: beige;
  font:arial;
}

a {
  color: white;
}
h1 {
  font-size: 70px;
  font-family: monospace;
}
h2 {
  font-family: monospace;
  font-size: 30px;
}
p1 {
  font-family: sans-serif;
  font:helvetica;
  font-size: 14px;
  text-align:center;
}
p2 {
  font-family: sans-serif;
  font:helvetica;
  font-size: 14px;
  text-align:center;
}
img {
  align-items: center;}
ul {padding:10px;
  background: beige;
  color: black;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}
li {
  display:inline;
  padding: 0px 40px 0px 40px;
}
.column {
  flex: 50%
  padding:4px 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 650px;
  height: 500px;
}
